h2{
    font-family: Arial, Helvetica, sans-serif;
    color: slateblue;
  }
  table {
        color: snow;
    background-color: slateblue;
  

}
  
  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: limegreen;
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
  
  } 
  u{
  
    color: slateblue;
  }
  